/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
header {
  background-color: white;
  height: 100px;
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.15);
  position: sticky;
  top: 0;
  z-index: 1000;
}

ul {
  list-style: circle inside;
}

ol {
  list-style: decimal inside;
}

ol, ul {
  padding-left: 0;
  margin-top: 0;
}

ul ul, ul ol, ol ol, ol ul {
	font-size: 100%;
	margin: 1rem 0 1rem 3rem;
	color: var(--text-color-softer);
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #5c61ff;
}

li {
  margin-bottom: 0.5rem;
  list-style: none;
  padding: 30px 30px 0 0;
  display: block;
  float: left;
}

nav .active {
  color: #5c61ff;
}
